/* General Styles */
body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    text-align: center;
    /* Background Image */
    background: url('assets/I_BG.jpg') no-repeat center center fixed;
    background-size: cover; /* Ensures the image covers the entire page */
    
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust transparency */
    z-index: -1; /* Keeps it behind content */
}

/* Header */
header {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

/* Navigation Bar */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

nav ul li a:hover {
    color: #a3a3a3;
}
nav ul li a.active {
    font-weight: bold;
    color: #a3a3a3;
}


/* Hero Section */
.hero {
    padding: 50px;
    background: rgba(0, 0, 0, 0.6);
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}


.hero h2 {
    color: #fffafa;
}
.hero p {
    font-size: 18px;
    color: #fffafa;
}

.hero .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: linear-gradient(to right, #3b3b3b, #000000);
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.hero .btn:hover {
    background: #757575;
}

/* Info Section */
.info {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.box {
    width: 30%;
    background: rgba(255, 255, 255, 0.801);
    color: black;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Footer */
footer {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    margin-top: 20px;
}
